<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link rel="stylesheet" href="/_assets/tw.css?v={{ base.buildRef }}" media="screen" type="text/css">

    <title>
      {% if title %}
        {{ title | safe }} |
      {% endif %}
      Consa
    </title>

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <meta name="generator" content="{{ eleventy.generator }}" />
    <link rel="author" href="/humans.txt" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="icon" href="/_assets/svg/consa.svg" type="image/svg+xml" />

    <meta property="og:title" content="Consa - We find and share job opportunities for you."/>
    <meta property="og:description" content="No more sifting through digital roles to find an opportunity with the right IR35 designation or day rate, because we'll only connect you with work that matches your preferences."/>
    <meta property="og:image" content="https://consa.co.uk/_assets/img/ogimg.jpg"/>
    <meta property="og:image:width" content="1104"/>
    <meta property="og:image:height" content="736"/>

    {% if base.env != "development" %}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MPDLXTK');</script>
    {% endif %}

  </head>

  <body>
    {% if base.env != "development" %}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPDLXTK" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}

    <div id="site-content" class="">
      {{ layoutContent | safe }}

      {% include 'blocks/footer.njk' %}
    </div>
    <!-- last build: {{ base.env }} {{ base.updatedTime }} -->
  </body>
</html>
