---
layout: default
---

<header class="bg-teal p-4 flex items-center justify-center">
  <a href="/">
    {% svgIcon "consa", "shrink-0 h-12 w-12" %}
  </a>
</header>

<div class="py-4 mx-auto prose">
  {{ layoutContent | safe }}
</div>
