<footer class="bg-teal mt-4">
  <div class="mx-auto lg:container p-4 min-h-[150px] text-white text-center">
    <p class="text-sm">
      &copy; Copyright 2022–{{ base.currentYear }} Consa &middot;
      All rights reserved &middot;
      <a class="underline hover:no-underline" href="/pages/privacy-policy">Privacy</a> &middot;
      <a class="underline hover:no-underline" href="/pages/terms-and-conditions">Terms and Conditions</a> &middot;
      <a class="underline hover:no-underline" href="/pages/cookies">Cookies</a>
    </p>
  </div>
</footer>
