<div id="apply">
  <form action="https://consa.us17.list-manage.com/subscribe/post?u=c4e4fffd3494c2666371902ab&amp;id=d3b8afbc44&amp;f_id=001157e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mx-auto lg:container p-4" target="_blank" novalidate>
    <h1 class="text-2xl text-teal font-bold my-4 border-b md:my-8">Apply now</h1>

    <p class="mb-4 md:mb-8 font-serif">After applying to be part of Consa, we'll start regularly emailing you handpicked job opportunties relevant to you.</p>

    <div id="mc_embed_signup_scroll" class="grid md:grid-cols-2 gap-4">

      <div class="mc-field-group">
        <label for="mce-FNAME" class="text-teal">First name</label>
        <input type="text" placeholder="Susan" value="" name="FNAME" class="required form-input mt-1 block w-full" id="mce-FNAME" required />
        <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
      </div>

      <div class="mc-field-group">
        <label for="mce-FAMNAME" class="text-teal">Last name</label>
        <input type="text" placeholder="Pevensie" value="" name="FAMNAME" class="required form-input mt-1 block w-full" id="mce-FAMNAME" required />
        <span id="mce-FAMNAME-HELPERTEXT" class="helper_text"></span>
      </div>

      <div>
        <label for="mce-EMAIL" class="text-teal">Email address</label>
        <input type="email" placeholder="susan@narnia.gov.na" value="" name="EMAIL" class="required email form-input mt-1 block w-full" id="mce-EMAIL" required />
        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
      </div>

      <div class="mc-field-group">
        <label for="mce-LINKEDIN" class="text-teal">LinkedIn profile</label>
        <input placeholder="susanpevensie" type="text" value="" name="LINKEDIN" class="required form-input mt-1 block w-full" id="mce-LINKEDIN" required>
        <span id="mce-LINKEDIN-HELPERTEXT" class="helper_text"></span>
      </div>

      <div class="mc-field-group size1of2">
        <label for="mce-MMERGE5" class="text-teal">Target day rate</label>
        <input type="number" placeholder="550" name="MMERGE5" class="required form-input mt-1 block w-full" value="" id="mce-MMERGE5" required>
        <span id="mce-MMERGE5-HELPERTEXT" class="helper_text"></span>
      </div>

      <fieldset class="block text-teal text-left col-span-full">
        <legend class="text-gray-700 border-b block w-full">Profession</legend>
        <span id="mce-MMERGE4-HELPERTEXT" class="helper_text"></span>

        <ul class="mt-2 grid gap-4 sm:grid-cols-2 md:grid-cols-4">
          <li>
            <div class="inline-flex items-center">
              <input class="form-checkbox"type="checkbox" value="8" name="group[324518][8]" id="mce-group[324518]-324518-0">
              <label class="ml-2" for="mce-group[324518]-324518-0">Product Manager</label>
            </div>
          </li>
          <li>
            <div class="inline-flex items-center">
              <input class="form-checkbox"type="checkbox" value="4" name="group[324518][4]" id="mce-group[324518]-324518-1">
              <label class="ml-2" for="mce-group[324518]-324518-1">Delivery Manager</label>
            </div>
          </li>
          <li>
            <div class="inline-flex items-center">
              <input class="form-checkbox"type="checkbox" value="16" name="group[324518][16]" id="mce-group[324518]-324518-2">
              <label class="ml-2" for="mce-group[324518]-324518-2">Scrum Master</label>
            </div>
          </li>
          <li>
            <div class="inline-flex items-center">
              <input class="form-checkbox"type="checkbox" value="32" name="group[324518][32]" id="mce-group[324518]-324518-3">
              <label class="ml-2" for="mce-group[324518]-324518-3">Business Analyst</label>
            </div>
          </li>
          <li>
            <div class="inline-flex items-center">
              <input class="form-checkbox"type="checkbox" value="64" name="group[324518][64]" id="mce-group[324518]-324518-4">
              <label class="ml-2" for="mce-group[324518]-324518-4">UI/UX Designer</label>
            </div>
          </li>
          <li>
            <div class="inline-flex items-center">
              <input class="form-checkbox"type="checkbox" value="128" name="group[324518][128]" id="mce-group[324518]-324518-5">
              <label class="ml-2" for="mce-group[324518]-324518-5">Service Designer</label>
            </div>
          </li>
          <li>
            <div class="inline-flex items-center">
              <input class="form-checkbox"type="checkbox" value="256" name="group[324518][256]" id="mce-group[324518]-324518-6">
              <label class="ml-2" for="mce-group[324518]-324518-6">User Researcher</label>
            </div>
          </li>
          <li>
            <div class="inline-flex items-center">
              <input class="form-checkbox"type="checkbox" value="512" name="group[324518][512]" id="mce-group[324518]-324518-7">
              <label class="ml-2" for="mce-group[324518]-324518-7">Content Designer</label>
            </div>
          </li>
          <li>
            <div class="inline-flex items-center">
              <input class="form-checkbox"type="checkbox" value="1024" name="group[324518][1024]" id="mce-group[324518]-324518-8">
              <label class="ml-2" for="mce-group[324518]-324518-8">Frontend Developer</label>
            </div>
          </li>
          <li>
            <div class="inline-flex items-center">
              <input class="form-checkbox"type="checkbox" value="2048" name="group[324518][2048]" id="mce-group[324518]-324518-9">
              <label class="ml-2" for="mce-group[324518]-324518-9">Backend Developer</label>
            </div>
          </li>
          <li>
            <div class="inline-flex items-center">
              <input class="form-checkbox"type="checkbox" value="4096" name="group[324518][4096]" id="mce-group[324518]-324518-10">
              <label class="ml-2" for="mce-group[324518]-324518-10">Full Stack Developer</label>
            </div>
          </li>
        </ul>
      </fieldset>

      <fieldset class="block text-teal text-left">
        <legend class="text-gray-700 border-b block w-full">IR35 preference</legend>
        <span id="mce-IR35-HELPERTEXT" class="helper_text"></span>

        <ul class="mt-2">
          <li>
            <label class="inline-flex items-center">
              <input class="form-checkbox" type="checkbox" value="2" name="group[324510][2]" id="mce-group[324510]-324510-1">
              <span class="ml-2">Inside IR35</span>
            </label>
          </li>
          <li>
            <label class="inline-flex items-center">
              <input class="form-checkbox" type="checkbox" value="1" name="group[324510][1]" id="mce-group[324510]-324510-0">
              <span class="ml-2">Outside IR35</span>
            </label>
          </li>
        </ul>
      </fieldset>

      <p class="text-teal text-center col-span-full">
        By submitting you are agreeing to Consa's <a href="/pages/terms-and-conditions" target="_blank" class="underline hover:no-underline">terms and conditions</a> and agree to be contacted by Consa regarding your&nbsp;application.
      </p>

      <div id="mce-responses" class="text-center col-span-full">
        <div class="rounded text-teal bg-red-200 p-4" id="mce-error-response" style="display:none"></div>
        <div class="rounded text-teal bg-green-200 p-4" id="mce-success-response" style="display:none"></div>
      </div>

      <p class="text-center col-span-full">
        <input type="submit" value="Apply" name="subscribe" id="mc-embedded-subscribe" class="rounded bg-teal border border-teal text-white px-6 py-3 transition-colors hover:bg-white hover:text-teal">
      </p>

      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c4e4fffd3494c2666371902ab_d3b8afbc44" tabindex="-1" value=""></div>

    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='FAMNAME';ftypes[2]='text';fnames[5]='MMERGE5';ftypes[5]='number';fnames[3]='LINKEDIN';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
