---
layout: default
---

<header class="bg-blue-300 h-[80vh] min-h-[400px] overflow-hidden relative bg-cover bg-center mb-4">

  {% img './src/_assets/img/ocean.jpg', '', [420, 1000, 2560], 'block h-full w-full inset-0 absolute object-cover', '100vw' %}

  <div class="absolute inset-0 flex items-center justify-center flex-col mx-auto text-white lg:container px-4">

    {% svgIcon "consa", "shrink-0 h-24 mb-4" %}

    <h1 class="text-6xl uppercase font-black">Consa</h1>

    <div class="max-w-[640px] text-center font-bold tracking-wide">
      <p class="font-bold font-serif text-2xl my-8">Do you work in tech?</p>
      <p class="font-bold font-serif text-2xl mb-8">We find and share job opportunities for&nbsp;you.</p>

      <a href="#apply" class="rounded bg-white text-teal px-4 py-2 transition-colors hover:bg-teal hover:text-white">Apply now</a>
    </div>
  </div>
</header>

<section class="mx-auto my-12 lg:container p-4 text-xl tracking-wide">
  <h1 class="text-teal text-2xl font-bold mb-4 border-b md:mb-8">Why Consa?</h1>

  <div class="grid md:grid-cols-3 gap-8 lg:gap-16">
    <div class="max-w-[440px]">
      <p class="font-serif">
        We're on a mission to simplify finding your next role in tech. No more sifting through endless job boards or hoping you're connected to the right recruitment agent on LinkedIn. We'll only connect you with roles that match your preferences.
      </p>
    </div>

    <div class="sm:col-span-2 grid gap-4">
      <div class="flex items-start">
        <div class="bg-teal text-white text-sm rounded-full w-6 h-6 flex items-center justify-center mr-3 mt-1 flex-shrink-0">1</div>
        <div>
          <h2 class="text-xl font-bold">Tech recruitment by tech specialists.</h2>
          <p class="font-serif">Our team are tech specialists. We've done the roles we are helping you find so we know what good looks like.</p>
        </div>
      </div>

      <div class="flex items-start">
        <div class="bg-teal text-white text-sm rounded-full w-6 h-6 flex items-center justify-center mr-3 mt-1 flex-shrink-0">2</div>
        <div>
          <h2 class="text-xl font-bold">Tailored opportunities.</h2>
          <p class="font-serif">Only engage outside IR35? Great, those are the opportunities you will see. Senior UX Designer searching for a permanent role at an impactful start up? We've got roles for you.</p>
        </div>
      </div>

      <div class="flex items-start">
        <div class="bg-teal text-white text-sm rounded-full w-6 h-6 flex items-center justify-center mr-3 mt-1 flex-shrink-0">3</div>
        <div>
          <h2 class="text-xl font-bold">Hassle free.</h2>
          <p class="font-serif">Everyone accepted onto Consa can receive a regular email of up-to-date and relevant opportunities.</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% include 'blocks/signupform.njk' %}

{# <section class="mx-auto lg:container p-4">
  <p>Are you business looking for only the best contract and freelance workers? </p>
</section> #}
